<%- include("partials/header.ejs") %>

<style>
	.btn-log, .btn-reg {
		display: none;
	}
</style>

<div class="login-container">
	<h1 class="login-header">Movie Web</h1>
	<img src="images/movie.png" class="login-logo">
	<form action="/login" method="POST">
		<div class="login-field mb-3">
			<label class="login-detail form-label">Username or E-mail</label>
			<input type="text" class="login-form form-control" id="login-focus" name="username" placeholder="Username" required>
		</div>
		<div class="login-field mb-3">
			<label class="login-detail form-label">Password</label>
			<input type="password" class="login-form form-control" name="password" placeholder="Password" required>
		</div>
		<div class="login-helper">
			<a class="login-helper-menu" href="/register">Don't have an account?</a>
			<a class="login-helper-menu" href="/forget">Forgot password?</a>
		</div>
		<button type="submit" class="login-btn btn btn-temp">Login</button>
	</form>
</div>

<script>
	$("#login-focus").focus();
</script>

<%- include("partials/footer.ejs") %>
