<%- include("../partials/header.ejs") %>

<div class="branch-container">
    <h1 class="text-center mb-5 display-2">Select branch</h1>
    <div class="d-flex align-items-center justify-content-center">
        <a class="btn branch-btn ms-5 me-5" href="/branch/theater" role="button">
            <i class="fa-solid fa-city branch-icon"></i><br>
            Branch 1</a>
        <a class="btn branch-btn ms-5 me-5" href="/branch/theater" role="button">
            <i class="fa-solid fa-city branch-icon"></i><br>
            Branch 2</a>
        <a class="btn branch-btn ms-5 me-5" href="/branch/theater" role="button">
            <i class="fa-solid fa-city branch-icon"></i><br>
            Branch 3</a>
    </div>
</div>

<%- include("../partials/footer.ejs") %>